<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniSpotifyController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniSpotifyController.Properties.Settings>
            <setting name="RefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>aa30000432964e4fb882c2e1db44ea47</value>
            </setting>
            <setting name="GeniusClientId" serializeAs="String">
                <value>GnMofLyETz8bawViWvEC-h9r3GKlbaKoOrzaZYKYV34Q7V-B8snQhXBptxU8uCTg</value>
            </setting>
            <setting name="GeniusClientAccessToken" serializeAs="String">
                <value>CuduPRAIkIjVLBmTcGv_i02KJBaJgE6MtF9btV7FVwq48q9oadDd5KhhbBYuyMAK</value>
            </setting>
        </MiniSpotifyController.Properties.Settings>
    </userSettings>
</configuration>