<Wix 
	xmlns="http://wixtoolset.org/schemas/v4/wxs"  
	xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Mini Spotify Controller" Manufacturer="MCY Software" Version="2.0.2.1" UpgradeCode="21f88d73-a2b7-4da4-b791-6807e7d47f1c">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<MediaTemplate EmbedCab="yes" />
		<ui:WixUI
			  Id="WixUI_InstallDir"
			  InstallDirectory="INSTALLFOLDER" />

		<WixVariable
			Id="WixUILicenseRtf"
			Value="license.rtf" />

		<netfx:DotNetCompatibilityCheck
			Property="DOTNETRUNTIMECHECK"
			RollForward="major"
			RuntimeType="desktop"
			Platform="x64"
			Version="8.0.0" />

		<Feature Id="Main">
			<ComponentGroupRef Id="MainComponents" />
			<ComponentRef Id="StartMenuComponent" />
		</Feature>
	</Package>
</Wix>
