<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package Name="Mini Spotify Controller" Manufacturer="MCY Software" Version="1.3.0.0" UpgradeCode="21f88d73-a2b7-4da4-b791-6807e7d47f1c">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<MediaTemplate EmbedCab="yes" />
		<ui:WixUI
			  Id="WixUI_InstallDir"
			  InstallDirectory="INSTALLFOLDER" />

		<WixVariable
			Id="WixUILicenseRtf"
			Value="license.rtf" />

		<PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" />
		<Launch
			  Message="!(loc.DotNetError)"
			  Condition="Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED" />

		<Feature Id="Main">
			<ComponentGroupRef Id="MainComponents" />
			<ComponentRef Id="StartMenuComponent" />
		</Feature>
	</Package>
</Wix>
